* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.general {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002e69;
}

.list-unstyled li {
    padding: 25px 0;
    border-bottom: 1px solid whitesmoke;
}

.item-done {
    text-decoration: line-through;
}